.e_input_control[data-v-8c41a8a4] {
    position: relative;
    display: block;
    width: 100%
}

.e_input_control .e_input_field[data-v-8c41a8a4] {
    position: relative;
    width: 100%;
    height: 54px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.e_input_control .e_input_field .e_label[data-v-8c41a8a4] {
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #9aa5b5;
    left: 16px;
    top: 17px;
    z-index: 2;
    cursor: text;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.e_input_control .e_input_field .e_input[data-v-8c41a8a4] {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 24px 16px 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
    font-size: 14px;
    color: #263241;
    z-index: 1;
    border: 1px solid #dfe2e7;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s
}

.e_input_control .e_input_field .e_input:focus+label[data-v-8c41a8a4],.e_input_control .e_input_field .e_input:not([data-value="0"])+label[data-v-8c41a8a4] {
    -webkit-transform: translateY(-10px) scale(.85);
    -ms-transform: translateY(-10px) scale(.85);
    transform: translateY(-10px) scale(.85)
}

.e_input_control .e_input_field .e_input[data-v-8c41a8a4]:focus {
    border-color: #357ce1
}

.e_input_control .e_input_field .e_input:-webkit-autofill+label[data-v-8c41a8a4] {
    -webkit-transform: translateY(-10px) scale(.85);
    transform: translateY(-10px) scale(.85)
}

.e_input_control .e_input_field .e_input[data-v-8c41a8a4]:disabled {
    background-color: #f5f6f7;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.e_input_control .e_input_field .e_input:disabled+label[data-v-8c41a8a4] {
    cursor: not-allowed
}

.e_input_control .e_input_bottom_message[data-v-8c41a8a4] {
    width: 100%;
    position: relative
}

.e_input_control .e_input_bottom_message .error_message[data-v-8c41a8a4] {
    margin-top: 4px;
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #9aa5b5
}

.e_input_control.e_input_error .e_input_field .e_input[data-v-8c41a8a4] {
    border-color: #fa5252
}

.e_input_control.e_input_error .e_input_bottom_message .error_message[data-v-8c41a8a4] {
    color: #fa5252
}

.captcha[data-v-e9d2ebec] .nc-container .nc_wrapper,.captcha[data-v-e9d2ebec] .nc-container.tb-login .nc_wrapper {
    width: auto!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.captcha[data-v-e9d2ebec] .nc-container .errloading,.captcha[data-v-e9d2ebec] .nc-container.tb-login .errloading {
    width: auto;
    line-height: 30px
}

.captcha[data-v-e9d2ebec] .nc-container .errloading,.captcha[data-v-e9d2ebec] .nc_wrapper {
    color: #9194a4;
    font-size: 16px
}

.captcha[data-v-e9d2ebec] .nc_scale {
    height: 48px;
    line-height: 48px;
    background: #fff
}

.captcha[data-v-e9d2ebec] .nc-container .errloading {
    font-size: 16px;
    border-radius: 3px;
    border-color: #d1d3df
}

.captcha[data-v-e9d2ebec] .nc-container .errloading a {
    display: inline-block;
    margin: 0 8px
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale .scale_text {
    font-size: 16px
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale span {
    border: 0;
    border-radius: 3px;
    height: 48px;
    line-height: 48px;
    color: #232a4a
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale span.nc-lang-cnt {
    background: none;
    color: #d1d3df
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale span.nc-lang-cnt b {
    color: #7a98f7;
    font-weight: 400
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale span.btn_ok,.captcha[data-v-e9d2ebec] .nc-container .nc_scale span.btn_slide {
    width: 70px;
    background-color: #d1d3df;
    border-radius: 0 3px 3px 0
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale span.btn_ok {
    color: #f60;
    text-indent: -9999px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAFoTx1HAAAAAXNSR0IArs4c6QAAAeNJREFUKBV9Us9LVFEUPue+N+G8dMaGImiTkDoQBi4UhGKKlJllbtzlJl26CkFsShl0RhKZVbugxfwF0k6pCHUx0KJFEIy/qJ20EN/oOFYz73a+e6dJIzvwDvec73znnfudSyTWvfrkI8NFnJZeidIZZGnn6JvuWpnWAqUzWgczJvvbAcGHmOGkwSF70WsusmKU6xgsu0CK99I08D5LSpEziAMzfzWcrtXpgLTloxKGIoVmANpDYZNEi6gbpoDqbzm+8bwtqByUbTVL0kzxpy0K9LG/JgWdMl1+M5mdRTHHV57eRwsETWPSW8kF5cRGb+82k3Lobr1K/s8qx0YTMrnYpZBncACLPSNU04HE+rG5pMsOrSWmaP9HhYaLL0yhuG0I+0XkuO6yajAspi62R9RmMtcBNWyrBiAClO5MHRqFkMLUmoNX6GJLznojp1aPSqn5d0CMQHL/T+cRztKFgH140VtKVw7W/0fCzbGK5YEJ2ZMIJxNBaFda3JDINJ67OUx3L8fp4YeX1OKEqNA3TnsnPqU28uTXqqd/3inScV40NG/r2edlunKhjQr9Y/S9XvsXoUHmvBHHrJPrb/5+Qqd/Yc4yqdLOEARqqgrAPpTyJOnggbmCZW7LVK/ZiyxhDTZF9AuTf8NspKFVTgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 50%
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale .nc_bg,.captcha[data-v-e9d2ebec] .nc-container .nc_scale .nc_ok {
    border-radius: 3px;
    background: #f4f4f6
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale .scale_text {
    color: #9194a4
}

.captcha[data-v-e9d2ebec] .nc-container .nc_scale .scale_text.scale_text.slidetounlock span[data-nc-lang=_startTEXT] {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#61688a),color-stop(.4,#61688a),color-stop(.5,#fff),color-stop(.6,#61688a),color-stop(1,#61688a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: slidetounlock 3s infinite;
    -webkit-text-size-adjust: none
}

.captcha[data-v-e9d2ebec] .icon_warn {
    color: #357ce1
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc-lang-cnt,.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .scale_text .nc-lang-cnt {
    color: #7a98f7
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .scale_text2 {
    background: #f4f4f6
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .btn_warn {
    background: #7a98f7;
    color: #fff
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha {
    background: #fff;
    border-color: #d1d3df
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_text {
    background: #fff
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_text input {
    border: 1px solid #d1d3df;
    background: #fff
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn,.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc_captcha_img_text {
    background: #fff
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc_captcha_img_text .nc-lang-cnt {
    color: #000
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc_scale_submit {
    width: 90%
}

.captcha[data-v-e9d2ebec] .nc_wrapper {
    width: 100%;
    border: 1px solid #d1d3df;
    border-radius: 3px;
    overflow: hidden
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale {
    min-height: 48px;
    height: auto;
    position: relative
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .nc_bg {
    width: auto;
    line-height: 48px;
    height: 48px
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .btn_ok {
    left: auto!important;
    right: 0
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .btn_warn {
    line-height: 48px;
    position: absolute;
    right: 0;
    left: auto!important;
    border-radius: 0
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .scale_text {
    position: relative
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .scale_text2 {
    width: 100%!important
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha {
    position: relative;
    top: 0;
    border: 0;
    border-top: 1px solid #4e5b85;
    width: 100%;
    background: #262a42;
    padding-bottom: 20px
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_text {
    background: #262a42;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    height: 50px;
    width: auto;
    display: block;
    float: none;
    margin: 20px 130px 20px 0
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_text input {
    margin: 0;
    border: 1px solid #4e5b85;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 50px;
    background: #262a42;
    text-align: center;
    font-size: 25px
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_img {
    position: absolute;
    border-radius: 5px;
    width: 110px;
    height: 50px;
    margin: 20px 0;
    right: 10px;
    top: 0
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_img img {
    width: 100%;
    height: 100%
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .btn_refresh {
    display: none
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn {
    background: #262a42;
    margin: 0;
    width: 100%
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc_captcha_img_text {
    background: #262a42;
    padding-bottom: 5px;
    font-size: 18px;
    margin-bottom: 10px
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc_captcha_img_text .nc-lang-cnt {
    line-height: 0
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc_captcha_img_text .icon_close {
    margin: 0 10px
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc_scale_submit {
    background-color: #7a98f7;
    width: auto;
    height: 40px;
    border-radius: 5px;
    margin: 0 10px;
    display: block
}

.captcha[data-v-e9d2ebec] .nc_wrapper .nc_scale .imgCaptcha .imgCaptcha_btn .nc-lang-cnt {
    line-height: 40px;
    color: #fff
}

.captcha[data-v-e9d2ebec] .header {
    padding: 24px;
    position: relative
}

.captcha[data-v-e9d2ebec] .header h3 {
    color: #263241;
    font-size: 20px
}

.captcha[data-v-e9d2ebec] .header span {
    position: absolute;
    right: 15px;
    background: transparent url(https://file.huobiasia.vip/global/zh-cn/static/img/3aaa2cd.svg) no-repeat 50%;
    width: 24px;
    height: 24px;
    top: 24px;
    cursor: pointer
}

.captcha[data-v-e9d2ebec] .captcha-container {
    clear: both;
    padding: 8px 24px;
    height: 150px;
    position: relative
}

.captcha[data-v-e9d2ebec] .captcha-container .nc-container {
    margin-top: 20px
}

.captcha[data-v-e9d2ebec] .captcha-container .switch-row {
    position: absolute;
    bottom: 10px
}

.captcha[data-v-e9d2ebec] .captcha-container .switch-row .el-icon-sort {
    display: inline-block;
    width: 18px;
    height: 14px;
    vertical-align: middle;
    background: transparent url(https://file.huobiasia.vip/global/zh-cn/static/img/39eae07.svg) no-repeat
}

.captcha[data-v-e9d2ebec] .captcha-container .switch-row span {
    margin-left: 3px;
    vertical-align: middle
}

.captcha[data-v-e9d2ebec] .captcha-container .img-captcha img {
    cursor: pointer;
    vertical-align: middle
}

.captcha[data-v-e9d2ebec] .loading {
    height: calc(100% - 20px)
}

.captcha[data-v-e9d2ebec] .e_input_control img {
    position: absolute;
    right: 6px;
    top: 10px;
    z-index: 2
}

.switch-btn[data-v-e9d2ebec] {
    border: none;
    background-color: transparent;
    margin-top: 8px;
    font-size: 12px;
    line-height: 24px
}
