.fed-banner[data-v-9aff7d6e] {
    position: relative;
    width: 100%;
    height: 100%
}

.fed-banner .fed-banner-wrap[data-v-9aff7d6e] {
    width: 100%;
    height: 100%
}

.fed-banner .fed-banner-wrap .banner-list[data-v-9aff7d6e] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 1
}

.fed-banner .fed-banner-wrap .banner-list a[data-v-9aff7d6e] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media screen and (max-width: 1560px) {
    .fed-banner .fed-banner-wrap .banner-list[data-v-9aff7d6e] {
        background-size:auto 130%
    }
}

.fed-banner .fed-banner-wrap .current[data-v-9aff7d6e] {
    opacity: 1;
    z-index: 2
}

.fed-banner .fed-banner-wrap .banner-legend-wrap[data-v-9aff7d6e] {
    width: 100%;
    position: absolute;
    bottom: 25px;
    height: 0;
    text-align: center;
    z-index: 2
}

.fed-banner .fed-banner-wrap .banner-legend-wrap .banner-legend[data-v-9aff7d6e] {
    cursor: pointer;
    display: inline-block;
    position: relative;
    bottom: 15px;
    opacity: .4;
    width: 72px;
    height: 24px
}

.fed-banner .fed-banner-wrap .banner-legend-wrap .banner-legend span[data-v-9aff7d6e] {
    display: inline-block;
    margin: 0 8px;
    background: hsla(0,0%,100%,.3);
    opacity: .4;
    width: 56px;
    height: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.fed-banner .fed-banner-wrap .banner-legend-wrap .current span[data-v-9aff7d6e] {
    opacity: .7;
    background: #fff
}

.notice_box[data-v-46d33212] {
    z-index: 100;
    width: 100%;
    height: 52px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid rgba(29,50,66,.7);
    margin-top: -1px;
    background-color: #f6f9fc;
    position: relative
}

.notice_box .notice_list[data-v-46d33212] {
    margin: 0 30px;
    font-size: 12px;
    line-height: 52px;
    height: 36px;
    overflow: hidden;
    word-break: keep-all;
    text-align: center
}

.notice_box .notice_list span[data-v-46d33212] {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0 2em 0 1.5em
}

.notice_box .notice_list span[data-v-46d33212]:before {
    content: "/";
    position: absolute;
    left: -.5em;
    color: #54748f
}

.notice_box .notice_list span[data-v-46d33212]:first-child:before {
    display: none
}

.notice_box .notice_list a[data-v-46d33212] {
    color: #54748f
}

.notice_box .notice_list a[data-v-46d33212]:hover {
    color: #357ce1
}

.notice_box .notice_list .text_loading[data-v-46d33212] {
    width: 16em
}

.trade_block .market_ticker[data-v-10d0f502]:after {
    display: block;
    clear: both;
    content: ""
}

.trade_block[data-v-10d0f502] {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid rgba(29,50,66,.7);
    background-color: #0a151e;
    color: #9eb5ca
}

.trade_block .up[data-v-10d0f502] {
    color: #0da88b
}

.trade_block .up[data-v-10d0f502]:before {
    content: "+"
}

.trade_block .down[data-v-10d0f502] {
    color: #ef5656
}

.trade_block .market_ticker[data-v-10d0f502] {
    margin: 0 auto
}

.trade_block .market_ticker li[data-v-10d0f502] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 16.66%;
    height: 120px;
    padding: 18px 1.6%;
    position: relative;
    -webkit-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out
}

.trade_block .market_ticker li a[data-v-10d0f502] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1
}

.trade_block .market_ticker li[data-v-10d0f502]:before {
    content: "";
    position: absolute;
    left: -1px;
    top: 18px;
    bottom: 18px;
    width: 1px;
    background-color: #1d3242
}

.trade_block .market_ticker li[data-v-10d0f502]:first-child:before {
    display: none
}

.trade_block .market_ticker li[data-v-10d0f502]:hover {
    background-color: #122331
}

.trade_block .market_ticker li:hover+li[data-v-10d0f502]:before,.trade_block .market_ticker li[data-v-10d0f502]:hover:before {
    width: 0
}

.trade_block .market_ticker .ticker_box[data-v-10d0f502] {
    width: 100%;
    overflow: hidden
}

.trade_block .market_ticker .symbol_line .symbol[data-v-10d0f502] {
    font-size: 14px;
    line-height: 14px
}

.trade_block .market_ticker .symbol_line .change[data-v-10d0f502] {
    display: block;
    float: right;
    font-size: 16px;
    text-align: center;
    border-radius: 2px
}

.trade_block .market_ticker .now[data-v-10d0f502] {
    display: inline-block;
    font-size: 20px;
    margin-top: 10px
}

.trade_block .market_ticker .now .change[data-v-10d0f502] {
    font-size: 16px
}

.trade_block .market_ticker .now .unit[data-v-10d0f502] {
    font-size: 12px
}

.trade_block .market_ticker .estimate[data-v-10d0f502] {
    color: #54748f;
    line-height: 1;
    font-size: 12px;
    margin-left: 5px;
    display: inline-block;
    text-transform: uppercase
}

.trade_block .market_ticker .amount[data-v-10d0f502] {
    position: absolute;
    bottom: 15px;
    margin-top: 5px;
    color: #54748f;
    font-size: 12px
}

.trade_block .market_ticker .amount span[data-v-10d0f502] {
    margin-right: 1em
}

.trade_block .market_ticker .amount span em[data-v-10d0f502] {
    margin-left: .25em;
    color: #54748f
}

@media screen and (max-width: 1560px) {
    .trade_block .market_ticker li[data-v-10d0f502] {
        padding:15px 10px
    }

    .trade_block .market_ticker .now.foo[data-v-10d0f502] {
        margin: 8px 0 0
    }

    .trade_block .market_ticker .estimate.foo[data-v-10d0f502] {
        margin: 4px 0;
        display: block;
        position: absolute
    }

    .trade_block .market_ticker .amount.foo[data-v-10d0f502] {
        position: absolute;
        bottom: 15px
    }
}

.feature_wrap .feature_list[data-v-ba621840]:after {
    display: block;
    clear: both;
    content: ""
}

.feature_wrap[data-v-ba621840] {
    width: 100%;
    min-height: 658px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
    color: #54748f;
    line-height: 2em
}

.feature_wrap h2[data-v-ba621840],.feature_wrap h3[data-v-ba621840] {
    color: #192544
}

.feature_wrap h2[data-v-ba621840] {
    font-size: 28px;
    margin-bottom: 10px
}

.feature_wrap h3[data-v-ba621840] {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px
}

.feature_wrap .feature_list[data-v-ba621840] {
    padding-top: 80px;
    width: 70%;
    margin: 0 auto
}

.feature_wrap .feature_list li[data-v-ba621840] {
    float: left;
    width: 33%;
    background: transparent none no-repeat top;
    padding-top: 218px
}

.feature_wrap .feature_list li.feature_safe[data-v-ba621840] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/8e76904.svg)
}

.feature_wrap .feature_list li.feature_eco[data-v-ba621840] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/4f174e6.svg)
}

.feature_wrap .feature_list li.feature_user[data-v-ba621840] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/7002f27.svg)
}

.client_wrap ul[data-v-1b3a2d3b]:after {
    display: block;
    clear: both;
    content: ""
}

.client_wrap[data-v-1b3a2d3b] {
    width: 100%;
    height: 770px;
    color: #9eb5ca;
    text-align: center;
    line-height: 2em;
    background-color: #fff
}

.client_wrap .wrap_in[data-v-1b3a2d3b] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 548px;
    padding-top: 100px;
    background-color: #152940
}

.client_wrap h2[data-v-1b3a2d3b] {
    font-size: 28px;
    margin-bottom: 24px;
    color: #fff
}

.client_wrap ul[data-v-1b3a2d3b] {
    width: 810px;
    margin: 0 auto;
    text-align: left
}

.client_wrap ul li[data-v-1b3a2d3b] {
    float: left;
    width: 25%;
    font-size: 18px
}

.client_wrap ul li a[data-v-1b3a2d3b] {
    display: block;
    margin: 0 15px;
    color: #9eb5ca;
    padding: 40px 0;
    line-height: 48px;
    position: relative
}

.client_wrap ul li i[data-v-1b3a2d3b] {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin: 0 10px 0 0;
    vertical-align: top;
    border-radius: 50%;
    background: rgba(53,124,225,.1) none no-repeat 50%
}

.client_wrap ul li .icon_client_apple[data-v-1b3a2d3b] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/9045397.svg)
}

.client_wrap ul li .icon_client_android[data-v-1b3a2d3b] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/ae9acb9.svg)
}

.client_wrap ul li .icon_client_windows[data-v-1b3a2d3b] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/bf1a389.svg)
}

.client_wrap ul li .qr_wrap[data-v-1b3a2d3b] {
    position: absolute;
    left: 50%;
    top: 86px;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 120px;
    height: 130px;
    border: 1px solid #357ce1;
    border-radius: 2px;
    background: #fff none no-repeat 12px 12px/96px 96px;
    text-align: center;
    color: #357ce1;
    font-size: 12px;
    line-height: 18px;
    z-index: 6;
    display: none
}

.client_wrap ul li .qr_wrap div[data-v-1b3a2d3b] {
    height: 96px;
    padding: 12px 12px 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.client_wrap ul li .qr_trigger:hover .qr_wrap[data-v-1b3a2d3b] {
    display: block
}

.client_wrap #moons_mind[data-v-1b3a2d3b] {
    width: 580px;
    margin: 0 auto;
    position: relative
}

.client_wrap #moons_mind .mac[data-v-1b3a2d3b] {
    width: 518px;
    height: 316px;
    background-color: #ededed;
    border-radius: 3px 3px 0 0;
    position: relative;
    -webkit-box-shadow: 0 3px 5px 0 rgba(36,52,69,.3);
    box-shadow: 0 3px 5px 0 rgba(36,52,69,.3)
}

.client_wrap #moons_mind .mac span[data-v-1b3a2d3b],.client_wrap #moons_mind .mac span[data-v-1b3a2d3b]:after,.client_wrap #moons_mind .mac span[data-v-1b3a2d3b]:before {
    display: block;
    height: 5px;
    width: 5px;
    content: "";
    position: absolute;
    border-radius: 50%
}

.client_wrap #moons_mind .mac span[data-v-1b3a2d3b] {
    top: 4px;
    background-color: #ee6a5f;
    left: 5px
}

.client_wrap #moons_mind .mac span[data-v-1b3a2d3b]:before {
    background-color: #f6c050;
    left: 9px
}

.client_wrap #moons_mind .mac span[data-v-1b3a2d3b]:after {
    background-color: #60c553;
    left: 18px
}

.client_wrap #moons_mind .mac div[data-v-1b3a2d3b] {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f384f none no-repeat 50%/cover
}

.client_wrap #moons_mind .phone[data-v-1b3a2d3b] {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 122px;
    height: 253px;
    background: #0a151e none no-repeat 50%/cover;
    -webkit-box-shadow: -9px 12px 62px 0 rgba(36,52,69,.3);
    box-shadow: -9px 12px 62px 0 rgba(36,52,69,.3);
    border-radius: 16.47px
}

.client_wrap #moons_mind.load .mac div[data-v-1b3a2d3b] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/1af78d4.png)
}

.client_wrap #moons_mind.load .phone[data-v-1b3a2d3b] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/03a8b25.png)
}

.register_wrap[data-v-7981995c] {
    height: 240px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #cad7e0;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.register_wrap h2[data-v-7981995c] {
    color: #232a4a;
    font-size: 22px;
    line-height: 24px
}

.register_wrap .input_wrap[data-v-7981995c] {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.register_wrap input[data-v-7981995c] {
    width: 400px;
    height: 40px;
    font-size: 12px;
    color: #000;
    border: 1px solid #bdced9;
    border-radius: 2px;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.register_wrap button[data-v-7981995c] {
    margin-left: 8px;
    display: inline-block;
    height: 40px;
    padding: 0 44px;
    font-size: 16px;
    min-width: 120px;
    -webkit-appearance: none;
    background-color: #357ce1;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2px;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

.register_wrap button[data-v-7981995c]:hover {
    background-color: rgba(53,124,225,.7)
}

@-webkit-keyframes slideup {
    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideup {
    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.can_animate {
    -webkit-animation: slideup .3s;
    animation: slideup .3s
}

.pro_layout {
    width: 100%
}

.pro_layout .default_banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
    padding-top: 130px;
    text-align: center
}

.pro_layout .default_banner.has_notify {
    padding-top: 210px
}

.pro_layout .default_banner h1 {
    color: #285481;
    font-size: 96px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #6da9e7;
    position: relative;
    font-weight: lighter;
    margin-bottom: 24px
}

.pro_layout .default_banner h1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(90%,#0a151e));
    background: -o-linear-gradient(top,transparent 0,#0a151e 90%);
    background: linear-gradient(180deg,transparent 0,#0a151e 90%)
}

.pro_layout .default_banner div {
    overflow: hidden;
    width: 940px;
    height: 70px;
    margin: 0 auto;
    position: relative
}

.pro_layout .default_banner div:after {
    width: 4068px;
    height: 4068px;
    top: 24px;
    background: -webkit-gradient(linear,left top,left bottom,from(#0d1f2f),color-stop(1%,#0a151e));
    background: -o-linear-gradient(top,#0d1f2f 0,#0a151e 1%);
    background: linear-gradient(180deg,#0d1f2f 0,#0a151e 1%)
}

.pro_layout .default_banner div:after,.pro_layout .default_banner p,.pro_layout .default_banner p:before {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%)
}

.pro_layout .default_banner div:after,.pro_layout .default_banner p:before {
    content: ""
}

.pro_layout .default_banner p {
    width: 3096px;
    height: 3096px;
    top: 22px;
    background: #29598b;
    -webkit-filter: blur(7px);
    filter: blur(7px)
}

.pro_layout .default_banner p:before {
    top: -2px;
    width: 1080px;
    height: 1080px;
    background-color: #4aa2ff
}

.pro_layout .banner {
    width: 100%;
    height: 540px;
    background-color: #0a151e;
    position: relative
}

@media screen and (max-width: 1560px) {
    .pro_layout .banner {
        height:400px
    }
}

.carousel-box[data-v-5674435e] {
    position: relative
}

.carousel-box .carousel-container[data-v-5674435e] {
    overflow: hidden;
    margin: 0 auto
}

.carousel-box .carousel-container dl[data-v-5674435e] {
    height: 130px;
    padding-top: 10px;
    white-space: nowrap;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    margin: 0 auto
}

.carousel-box .carousel-container dl dd[data-v-5674435e] {
    float: left;
    width: 300px;
    height: 120px;
    margin-right: 30px;
    border-radius: 3px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.carousel-box .carousel-container dl dd[data-v-5674435e]:hover {
    margin-top: -10px
}

.carousel-box .carousel-container dl dd a[data-v-5674435e] {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    text-indent: -999em
}

.carousel-box .pagination[data-v-5674435e] {
    display: block;
    width: 40px;
    height: 70px;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    border: none;
    background-color: rgba(242,246,250,.15)
}

.carousel-box .pagination[data-v-5674435e]:hover {
    background-color: rgba(242,246,250,.3)
}

.carousel-box .pagination[data-v-5674435e]:disabled {
    cursor: not-allowed;
    background-color: rgba(242,246,250,.15);
    opacity: .5
}

.carousel-box .pagination[data-v-5674435e]:disabled:hover {
    background-color: rgba(242,246,250,.15);
    opacity: .5
}

.carousel-box .pagination[data-v-5674435e]:after {
    content: "";
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAgCAYAAAAffCjxAAAABGdBTUEAALGPC/xhBQAAAL1JREFUSA1j+P//PwsQhwGxLQMlAGhAJhDDQAPZZgFNQDYIZCB5hgE1sgPxVpAJSGDwGLYNyVUgJkUuGzWMhBQHDGxQ0hgNM8rDrI4EIxBKoRGwE0jDwB8gQ4YJoYRolhhQpQqS6u9A9kckPmEm0GZZIL4LcwqQ/gHEXoR1IqkAahg1BCk8QMzRMEELkMEWJmLAGKIs2UOjuQZoEAyQnndgoQQ0wRuIQUXBZyAmLQPCDIHRQANkgJgXxieHBgD9QH5E19/tAQAAAABJRU5ErkJggg==);
    width: 18px;
    height: 32px
}

.carousel-box .pagination.pagination-left[data-v-5674435e] {
    left: 0;
    border-radius: 0 40px 40px 0
}

.carousel-box .pagination.pagination-left[data-v-5674435e]:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 5px
}

.carousel-box .pagination.pagination-right[data-v-5674435e] {
    right: 0;
    border-radius: 40px 0 0 40px
}

.carousel-box .pagination.pagination-right[data-v-5674435e]:after {
    margin-left: 17px
}

.homepage-banner .homepage-banner-detail[data-v-05a0695d] {
    width: 1200px;
    margin: 0 auto
}

.homepage-banner[data-v-05a0695d] {
    width: 100%;
    min-width: 1200px;
    margin-top: -60px;
    height: 980px;
    background-color: #0d204f;
    overflow: hidden;
    position: relative
}

@media only screen and (max-width: 1920px) {
    .homepage-banner[data-v-05a0695d] {
        height:750px
    }
}

@media only screen and (max-width: 1440px) {
    .homepage-banner[data-v-05a0695d] {
        height:620px
    }
}

.homepage-banner .homepage-banner-detail[data-v-05a0695d] {
    position: relative;
    padding: 205px 630px 0 0;
    margin-bottom: 150px
}

.homepage-banner .homepage-banner-detail h1[data-v-05a0695d] {
    font-size: 56px;
    color: #fcfdfe;
    line-height: 72px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    font-weight: 700
}

.homepage-banner .homepage-banner-detail p[data-v-05a0695d] {
    font-size: 18px;
    color: #94b7ea;
    line-height: 30px;
    margin-bottom: 24px;
    position: relative;
    z-index: 1
}

.homepage-banner .homepage-banner-detail a[data-v-05a0695d] {
    display: inline-block;
    min-width: 215px;
    height: 52px;
    line-height: 48px;
    border-radius: 3px;
    background-color: transparent;
    text-align: center;
    border: 2px solid #357ce1;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 1;
    height: 54px;
    padding: 0 32px
}

.homepage-banner .homepage-banner-detail a[data-v-05a0695d]:hover {
    color: #fff;
    background-color: #357ce1
}

.homepage-banner .homepage-banner-detail .homepage-banner-bg[data-v-05a0695d] {
    position: absolute;
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/1afc2e0.svg);
    background-repeat: no-repeat;
    width: 1314px;
    height: 878px;
    top: 60px;
    left: 160px;
    z-index: 0
}

@media only screen and (max-width: 1920px) {
    .homepage-banner .homepage-banner-detail[data-v-05a0695d] {
        padding:132px 630px 0 16px;
        margin-bottom: 73px
    }

    .homepage-banner .homepage-banner-detail h1[data-v-05a0695d] {
        font-size: 48px;
        line-height: 64px
    }

    .homepage-banner .homepage-banner-detail p[data-v-05a0695d] {
        line-height: 28px
    }

    .homepage-banner .homepage-banner-detail .homepage-banner-bg[data-v-05a0695d] {
        top: -40px;
        left: 230px
    }
}

@media only screen and (max-width: 1440px) {
    .homepage-banner .homepage-banner-detail[data-v-05a0695d] {
        padding:175px 610px 0 16px;
        margin-bottom: 59px
    }

    .homepage-banner .homepage-banner-detail h1[data-v-05a0695d] {
        font-size: 36px;
        line-height: 32px
    }

    .homepage-banner .homepage-banner-detail p[data-v-05a0695d] {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 32px
    }

    .homepage-banner .homepage-banner-detail .homepage-banner-bg[data-v-05a0695d] {
        top: -70px;
        left: 230px
    }
}

.homepage-banner .banner-carousel[data-v-05a0695d] {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 40px
}

.notice[data-v-ce1877f2] {
    background: #f6f9fc;
    font-size: 16px;
    color: #7f8fa4;
    text-align: center;
    height: 52px;
    width: 100%;
    overflow: hidden
}

.notice .animate[data-v-ce1877f2] {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.notice dl[data-v-ce1877f2] {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.notice dl.up[data-v-ce1877f2] {
    -webkit-transform: translateY(-54px);
    -ms-transform: translateY(-54px);
    transform: translateY(-54px)
}

.notice dd a[data-v-ce1877f2] {
    font-size: 16px;
    color: #7f8fa4;
    text-align: center;
    line-height: 52px
}

.notice dd a[data-v-ce1877f2]:hover {
    text-decoration: underline
}

.notice dd a span[data-v-ce1877f2] {
    vertical-align: middle
}

.notice dd a.new[data-v-ce1877f2]:before {
    content: "NEW";
    display: inline-block;
    font-size: 12px;
    background-color: #c9e2fc;
    color: #357ce1;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
    padding: 0 7px;
    border-radius: 3px;
    margin-right: 8px
}

.notice dd a[data-v-ce1877f2]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/db126ed.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    margin-left: 8px
}

.en_layout .homepage-footer .homepage-footer-detail[data-v-74787ca1],.en_layout .information .information-detail[data-v-74787ca1],.en_layout .link-to-group .link-to-group-detail[data-v-74787ca1] {
    width: 1200px;
    margin: 0 auto
}

.en_layout .download-link[data-v-74787ca1],.en_layout .homepage-footer[data-v-74787ca1],.en_layout .information[data-v-74787ca1],.en_layout .link-to-group[data-v-74787ca1] {
    width: 100%;
    min-width: 1200px
}

.en_layout[data-v-74787ca1] {
    width: 100%
}

.en_layout .modal[data-v-74787ca1] {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #071435;
    color: #fff
}

.en_layout .information[data-v-74787ca1] {
    padding-top: 96px;
    height: 720px;
    border-bottom: 1px solid #eaedf0
}

.en_layout .information .information-detail[data-v-74787ca1] {
    padding: 0 16px;
    background: url(https://file.huobiasia.vip/global/zh-cn/static/img/320f594.svg) no-repeat 60px 150px
}

.en_layout .information .information-detail dt[data-v-74787ca1] {
    float: left;
    width: 540px;
    height: 500px;
    font-size: 32px;
    color: #263241;
    line-height: 45px;
    margin-right: 170px
}

.en_layout .information .information-detail dd[data-v-74787ca1] {
    position: relative;
    width: 456px;
    display: inline-block;
    margin-bottom: 56px
}

.en_layout .information .information-detail dd i[data-v-74787ca1] {
    position: absolute;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    left: -70px
}

.en_layout .information .information-detail dd i.info-icon-1[data-v-74787ca1] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/61645c7.svg)
}

.en_layout .information .information-detail dd i.info-icon-2[data-v-74787ca1] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/08f21a5.svg)
}

.en_layout .information .information-detail dd i.info-icon-3[data-v-74787ca1] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/820c2b0.svg)
}

.en_layout .information .information-detail dd p[data-v-74787ca1] {
    font-size: 16px;
    color: #7f8fa4;
    line-height: 24px
}

.en_layout .information .information-detail dd p strong[data-v-74787ca1] {
    font-size: 24px;
    color: #263241;
    line-height: 30px;
    margin-bottom: 16px;
    display: block
}

.en_layout .download-link[data-v-74787ca1] {
    position: relative;
    height: 720px;
    padding: 98px 16px 0;
    overflow: hidden;
    text-align: center
}

.en_layout .download-link .download-link-intro[data-v-74787ca1] {
    width: 1306px;
    height: 100%;
    padding-right: 820px;
    margin-right: -106px;
    display: inline-block;
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/0a62576.png);
    background-repeat: no-repeat;
    background-position: 600px bottom;
    background-size: 45%;
    text-align: left
}

.en_layout .download-link .download-link-intro h2[data-v-74787ca1] {
    font-size: 32px;
    color: #263241;
    line-height: 45px;
    margin-bottom: 24px
}

.en_layout .download-link .download-link-intro p[data-v-74787ca1] {
    font-size: 16px;
    color: #7f8fa4;
    line-height: 24px;
    margin-bottom: 16px
}

.en_layout .download-link .download-link-intro>dl[data-v-74787ca1] {
    margin-bottom: 48px
}

.en_layout .download-link .download-link-intro>dl dd[data-v-74787ca1] {
    font-size: 16px;
    color: #7f8fa4;
    line-height: 24px;
    margin-bottom: 11px
}

.en_layout .download-link .download-link-intro>dl dd[data-v-74787ca1]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 11px;
    border-radius: 3px;
    margin-right: 18px;
    background: url(https://file.huobiasia.vip/global/zh-cn/static/img/91465e4.svg) no-repeat 50%
}

.en_layout .download-link .download-link-intro>dl dd span[data-v-74787ca1] {
    vertical-align: middle
}

.en_layout .download-link .download-link-intro .download-link-button[data-v-74787ca1] {
    width: 176px;
    height: 56px;
    line-height: 56px;
    border-radius: 3px;
    background-color: #357ce1;
    color: #fff;
    text-align: center;
    border: none;
    display: inline-block;
    -webkit-box-shadow: 0 9px 13px 0 rgba(53,124,225,.32);
    box-shadow: 0 9px 13px 0 rgba(53,124,225,.32);
    font-size: 16px;
    position: relative;
    cursor: pointer
}

.en_layout .download-link .download-link-intro .download-link-button[data-v-74787ca1]:hover {
    background-color: #2b72d6
}

.en_layout .download-link .download-link-intro .download-link-button[data-v-74787ca1]:after {
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    bottom: -4px;
    width: 100%
}

.en_layout .download-link .download-link-intro .download-link-button i[data-v-74787ca1] {
    width: 12px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat
}

.en_layout .download-link .download-link-intro .download-link-button i.arrow-down[data-v-74787ca1] {
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/fda4c63.svg)
}

.en_layout .download-link .download-link-intro .download-link-button:hover dl[data-v-74787ca1] {
    height: 100px
}

.en_layout .download-link .download-link-intro .download-link-button dl[data-v-74787ca1] {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 0;
    overflow: hidden;
    width: 270px;
    margin-top: 4px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 10px 0 #cad7e0;
    box-shadow: 0 2px 10px 0 #cad7e0;
    background-color: #f2f6fa
}

.en_layout .download-link .download-link-intro .download-link-button dl dd[data-v-74787ca1] {
    text-align: left
}

.en_layout .download-link .download-link-intro .download-link-button dl dd a[data-v-74787ca1] {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 46px;
    font-size: 16px;
    color: #7f8fa4;
    padding-left: 16px
}

.en_layout .download-link .download-link-intro .download-link-button dl dd a[data-v-74787ca1]:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 8px
}

.en_layout .download-link .download-link-intro .download-link-button dl dd a[data-v-74787ca1]:hover {
    color: #357ce1;
    background-color: #fff
}

.en_layout .download-link .download-link-intro .download-link-button dl dd a span[data-v-74787ca1] {
    vertical-align: middle
}

.en_layout .download-link .download-link-intro .download-link-button dl dd.app-store a[data-v-74787ca1]:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAAjdJREFUWAnFVz2PcUEUPrsRH7EShY+8Oo1CKVEQnY5o/If9CfSIaP0BtUYjtKteCSGS1QgSodCRvYgQ886ZvOPdLW7m3F2uk4wZc5/7PM+cOXdyL8D/eOLDV97eefvkjd24ISdyowZqfYs//N8bb7cW1eNDLdQUgW7MFJemUFNkAlMiJ83uUVvsi9nCUu8dU4DF8YJOHhDaMxe9ibjNZoNEImF0DUJbpuPHfTKZZOv1mg0Gg59w/K4Ag8EgOxwODKNcLptvoFqtCvHhcMhcLpdhA1gDv4rVagX5fB5isRgcj0fDXGQDDocDisUizGYzIdTv9yGXy8FoNAKv1wvj8VjML5dLqNVq4PF4yGaUabPb7azb7YpUU38mkwlzu91KbnSpBJVKJaruFVcoFJS8/7TVBvARMxLtdpsqzpQ1EAgEwOfzkfcTgY1Gg4xXGrhcLmQyCdztdnKo7JUGjJBJtXg8LoekXrlf8/ncSAkwTdNYOBxW8nJ36hrAJfCiIq1EgpxOJ3Q6HchkMnJKt1duAd5Zr9d1CfQu+P1+cUDpXf86T0pVq9UytA3T6ZRZLBYKt/oc4G5ZKBRi2+2WbCKbzVLEEUMzgLhUKsXO5/PVxOl0YovFgu33++scDiqVClWc4SuZcIFOKBGNRoGvDniKxYGz2WzAarVCOp2GSCQCvV4Pms0mhUpgDBsgMxOB+BRoROw9YOKl9OMezETOD8xAjQi+B0xoYx089NMMV/bQj1OZWsyE6Z/nfwEysn5hUkYzQwAAAABJRU5ErkJggg==)
}

.en_layout .download-link .download-link-intro .download-link-button dl dd.google-play a[data-v-74787ca1]:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAAmFJREFUWAntV72LWkEQX0NQxICoIARtLC3VWjv/CBuxSW+rrWDpP6BpxMbKwkohtYeNHHiCiApWit9cFBudzAzsi3r3vhKjV2Rg2J23M/P7vdnd0SfEb7Hg9BvqE+orKtxYKSflJgzCupCvaP1AvTWoWj7CIkwWYnNPcEmKMLkSVBL58N4jYfO+3BtY4j1RCehwfCEmD5CfnxDUFHi5XBbxeJy5ejweEQgEhNVqZa3VaiIUCpl5D8aW5TA0er1e6PV60G63Qcp2u4VOpwPZbNZQDmR47ndhnC+8O0+lUnA8HiX2xfj8/Awul+vduCvQcx/jBPx+P+z3e6hWqzAajRTwer0O3W6X7WKxeJ7cyNw4gXQ6zSD9fh82m41CYDgcwmKxYHu32wGeCSPA7PPZzImxWCyi1WpxyHK5vAidzWaK7Xa7xXQ6VWytCV1DYqIqBOp0OgW+sfD5fAL3WNVXLgwGA2G32wUeToFlkY9VR81yNZtNOBwOEIlEoFQqKWXXmiSTSY6hWETVVN0tkHc+FoupvsH1QjQaFTabTekX1+vnNjWih8p/Ah+/AvIanU4nw2dFxshRK1C3ApVKRcznc4FXSivPxVqj0eAYijUimvcUEwA2I/ZJJBKATQawGtwGVqsVUBuWP07r9RqwU4LD4VBiKF5HdR3eJKDGRJLJZHgNK8R2Pp9/46sDDrpbgAn+qfwRASw5k1IbzTI2XbZCoQDj8RiCwSDH5nI5mEwmEA6HTef6EH9KX8yW7Ib+L3QGvt8wodlUjE3bQJ9JpvfvL2MIk7BZHvpxKkkQG/pWu+vn+S83ZOF7J1cgXAAAAABJRU5ErkJggg==)
}

.en_layout .link-to-group[data-v-74787ca1] {
    background: url(https://file.huobiasia.vip/global/zh-cn/static/img/435f368.png) repeat-x;
    height: 300px
}

.en_layout .link-to-group .link-to-group-detail[data-v-74787ca1] {
    background: url(https://file.huobiasia.vip/global/zh-cn/static/img/3185e03.svg) no-repeat top;
    height: 100%;
    padding-top: 105px;
    text-align: center
}

.en_layout .link-to-group .link-to-group-detail dl[data-v-74787ca1] {
    margin-bottom: 32px
}

.en_layout .link-to-group .link-to-group-detail dl dt[data-v-74787ca1] {
    font-size: 32px;
    color: #fff;
    line-height: 45px;
    margin-bottom: 10px
}

.en_layout .link-to-group .link-to-group-detail dl dd[data-v-74787ca1] {
    display: inline-block;
    font-size: 16px;
    color: #94b7ea;
    text-align: center;
    line-height: 20px;
    margin: 0 11px
}

.en_layout .link-to-group .link-to-group-detail a[data-v-74787ca1] {
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 16px
}

.en_layout .link-to-group .link-to-group-detail a span[data-v-74787ca1] {
    vertical-align: middle
}

.en_layout .link-to-group .link-to-group-detail a[data-v-74787ca1]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 8px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 5px;
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/fda4c63.svg)
}

.en_layout .link-to-group .link-to-group-detail a[data-v-74787ca1]:hover {
    text-decoration: underline
}

.en_layout .homepage-footer[data-v-74787ca1] {
    background-color: #071435;
    padding: 80px 0
}

.en_layout .homepage-footer .homepage-footer-detail[data-v-74787ca1] {
    height: 168px;
    padding: 45px 64px;
    background: #0f204b;
    border-radius: 8px
}

.en_layout .homepage-footer .homepage-footer-detail dl[data-v-74787ca1] {
    float: left
}

.en_layout .homepage-footer .homepage-footer-detail dl dt[data-v-74787ca1] {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px
}

.en_layout .homepage-footer .homepage-footer-detail dl dd[data-v-74787ca1] {
    font-size: 16px;
    color: #637eb0;
    line-height: 24px
}

.en_layout .homepage-footer .homepage-footer-detail a[data-v-74787ca1] {
    width: 212px;
    height: 48px;
    border-radius: 3px;
    background-color: #357ce1;
    text-align: center;
    border: none;
    display: inline-block;
    display: block;
    float: right;
    line-height: 48px;
    font-size: 16px;
    color: #fff;
    margin-top: 15px
}

.en_layout .homepage-footer .homepage-footer-detail a[data-v-74787ca1]:hover {
    background-color: #2b72d6
}

.en_layout .homepage-footer .homepage-footer-detail a span[data-v-74787ca1] {
    vertical-align: middle
}

.en_layout .homepage-footer .homepage-footer-detail a[data-v-74787ca1]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 8px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 5px;
    background-image: url(https://file.huobiasia.vip/global/zh-cn/static/img/fda4c63.svg)
}
